<div class="row">
        <div class="col-3">
            {% if github.analysis.followers >= 0 %}
                <p class="lead">Followers: {{ github.followers }} <i class="fas fa-angle-up"
                                                                     style="color: green"></i> {{ github.analysis.followers }}
                </p>
            {% else %}
                <p class="lead">Followers: {{ github.followers }} <i class="fas fa-angle-down"
                                                                     style="color: red"></i> {{ github.analysis.followers }}
                </p>
            {% endif %}
            {% if github.analysis.stars >= 0 %}
                <p class="lead">Stars: {{ github.stars }} <i class="fas fa-angle-up"
                                                             style="color: green"></i> {{ github.analysis.stars }}</p>
            {% else %}
                <p class="lead">Stars: {{ github.stars }} <i class="fas fa-angle-down"
                                                             style="color: red"></i> {{ github.analysis.stars }}</p>
            {% endif %}
            {% if github.analysis.count_lang >= 0 %}
                <p class="lead">Languages: {{ github.count_lang }} <i class="fas fa-angle-up"
                                                                      style="color: green"></i> {{ github.analysis.count_lang }}
                </p>
            {% else %}
                <p class="lead">Languages: {{ github.count_lang }} <i class="fas fa-angle-down"
                                                                      style="color: red"></i> {{ github.analysis.count_lang }}
                </p>
            {% endif %}
            {% if github.analysis.count_all_repos >= 0 %}
                <p class="lead">All Repositories: {{ github.count_all_repos }} <i class="fas fa-angle-up"
                                                                               style="color: green"></i> {{ github.analysis.count_all_repos }}
                </p>
            {% else %}
                <p class="lead">All Repositories: {{ github.count_all_repos }} <i class="fas fa-angle-down"
                                                                               style="color: red"></i> {{ github.analysis.count_all_repos }}
                </p>
            {% endif %}
        </div>
        <div class="col">
            <canvas id="avg_graph" width="100" height="50"></canvas>
            {% include 'main/scripts/avg_graph.html' %}
        </div>
    </div>