<div class="row">
    <div class="col-3">
        <p class="lead">Karma: {{ habr.main.karma }}
            {% if habr.analysis.karma >= 0 %}<i class="fas fa-angle-up" style="color: green"></i>{% else %}
                <i class="fas fa-angle-down" style="color: red"></i>{% endif %} {{ habr.analysis.karma }}
        </p>
        <p class="lead">Rating: {{ habr.main.rating }}
            {% if habr.analysis.rating >= 0 %}<i class="fas fa-angle-up" style="color: green"></i>{% else %}
                <i class="fas fa-angle-down" style="color: red"></i>{% endif %} {{ habr.analysis.rating }}
        </p>
        <p class="lead">Followers: {{ habr.main.followers }}
            {% if habr.analysis.followers >= 0 %}<i class="fas fa-angle-up" style="color: green"></i>{% else %}
                <i class="fas fa-angle-down" style="color: red"></i>{% endif %} {{ habr.analysis.followers }}
        </p>
        <p class="lead">Contributions: {{ habr.avgs.contribs }}
            {% if habr.analysis.contribs >= 0 %}
                <i class="fas fa-angle-up" style="color: green"></i>{% else %}
                <i class="fas fa-angle-down"
                   style="color: red"></i>{% endif %} {{ habr.analysis.contribs }}
        </p>
        <p class="lead">Voitings: {{ habr.avgs.voitings }}
            {% if habr.analysis.voitings >= 0 %}
                <i class="fas fa-angle-up" style="color: green"></i>{% else %}
                <i class="fas fa-angle-down"
                   style="color: red"></i>{% endif %} {{ habr.analysis.voitings }}
        </p>
        <p class="lead">Favs: {{ habr.avgs.favs_count }}
            {% if habr.analysis.favs_count >= 0 %}
                <i class="fas fa-angle-up" style="color: green"></i>{% else %}
                <i class="fas fa-angle-down"
                   style="color: red"></i>{% endif %} {{ habr.analysis.favs_count }}
        </p>
        <p class="lead">Views: {{ habr.avgs.views }}
            {% if habr.analysis.views >= 0 %}
                <i class="fas fa-angle-up" style="color: green"></i>{% else %}
                <i class="fas fa-angle-down"
                   style="color: red"></i>{% endif %} {{ habr.analysis.views }}
        </p>
    </div>
</div>