# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django stuff:
*.log
db.sqlite3
db.sqlite3-journal

# Environments
.env
.venv
.env.dev
env/
venv/
ENV/
env.bak/
venv.bak/

# Idea
.idea/

# Visual Studio Code
.vscode/