django>=3.1.6
requests>=2.22.0
vk_api>=11.9.2
bs4>=0.0.1
beautifulsoup4>=4.8.0
certifi>=2019.6.16
colorama>=0.4.1
PySocks>=1.7.0
requests-futures>=1.0.0
soupsieve>=1.9.2
stem>=1.8.0 
torrequest>=0.1.0
