<script>
    const github_config = {
        type: 'bar',
        data: {
            labels: [
                'followers',
                'stars',
                'langs',
                'repos',
                '2019',
                '2020',
                '2021'
            ],
            datasets: [{
                label: 'Result',
                data: [
                    {{ github.user.followers }},
                    {{ github.user.stars }},
                    {{ github.count.languages }},
                    {{ github.count.all_repos }},
                    {{ github.contributions_year.2 }},
                    {{ github.contributions_year.1 }},
                    {{ github.contributions_year.0 }}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(201, 203, 207, 0.2)'
                ],
                borderColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgb(153, 102, 255)',
                    'rgb(201, 203, 207)'
                ],
                borderWidth: 1
            }, {
                label: 'AVG',
                data: [
                    {{ github.avg_values.followers }},
                    {{ github.avg_values.stars }},
                    {{ github.avg_values.count_lang }},
                    {{ github.avg_values.count_all_repos }},
                    {{ github.avg_values.contr_y2 }},
                    {{ github.avg_values.contr_y1 }},
                    {{ github.avg_values.contr_y0 }}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(201, 203, 207, 0.2)'
                ],
                borderColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgb(153, 102, 255)',
                    'rgb(201, 203, 207)'
                ],
                borderWidth: 1
            }]
        },
    };
    let github_avg_graph = new Chart(
        document.getElementById('github_avg_graph'),
        github_config
    );
</script>