<h4 class="mb-4">Habr</h4>
<hr class="my-4">
<div class="row g-3">
    <div class="col-sm-6">
        <p class="lead">Карма: {{ habr_array.0 }}</p>
        <p class="lead">Рейтинг: {{ habr_array.1 }}</p>
        <p class="lead">Фолловеры: {{ habr_array.2 }}</p>
        <p class="lead">Подписки: {{ habr_array.3 }}</p>
        <p class="lead">Вклады:</p>
        <ul>
            {% for i in contributions %}
                <li><a href="{{ i.0 }}">{{ i.0 }}</a> - {{ i.1 }} </li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-sm-6">
        <p class="lead">Посты: </p>
        <ul>
            {% for i in posts %}
                <li>{{ i.title }}</li>
                <h3><i class="fas fa-arrows-alt-v"></i> {{ i.voitings }} <i
                        class="fas fa-bookmark"></i> {{ i.favs_count }} <i class="far fa-eye"></i> {{ i.views }}</h3>
            {% endfor %}
        </ul>
    </div>
</div>