body {
    background: #2c2c2c;
}

aside {
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

aside img {
    width: 40px;
    position: relative;
    top: -20px;
}

aside .logo {
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: -5px;
}

aside h3 {
    margin-top: 50px;
    font-size: 25px;
}

aside ul {
    list-style: none;
}

aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

aside ul li:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}

main .features {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features h1 {
    font-size: 50px;
}

main .features p {
    max-width: 400px;
    margin: 20px auto;
}

main .block-res{
    float:left;
    color: #fff;
    margin-top: 100px;
    border: 2px solid #fff;
    background: #808080;
    border-radius: 10px;
    width: 75%;
    margin-left: 50px;
    max-width: 100%;
    height: auto;
    overflow:hidden
}

main .block-res h2{
    text-align: center;
    font-size: 40px;
    font-weight: bold;

}

main .block-res h3{
    text-align: left;
    font-size: 20px;
    margin-left: 10px;
    font-style: italic;
    font-weight: lighter;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}

.diagramm {
    float: left;
    width: 45%;
}

.block {
    float: left;
    width: 45%;
}




